.photo-floating-panel {
	padding: $spacer;
	a {
		display: flex;
		flex-flow: row nowrap;
		&:hover {
			text-decoration: none;
		}
		img {
			width: auto;
			height: auto;
			max-height: 300px;
			box-shadow: 50px 40px 28px rgba(0, 0, 0, 0.25), 50px 38px 10px rgba(0, 0, 0, 0.22);
		}
		p {
			height: 1%;
			align-self: center;
			margin: auto auto auto ($spacer * 5);
			color: $black;
			position: relative;
			top: -25px;
			text-shadow: 80px 50px 5px rgba(0, 0, 0, 0.22);
		}
	}
}