.banner .nav li {
	@extend .nav-item;
}

.banner .nav a {
	@extend .nav-link;
}

.nav {
	display: flex;
	justify-content: center;
	font-family: 'Ailerons', cursive;
	li {
		a {
			color: #333;
		}
	}
}
