html {
	overflow: hidden;
	.home {
		.page-header-featured-image {
			height: 100vh;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.holding-page-content {
			font-family: 'Ailerons', cursive;
			width: 100%;
			position: absolute;
			padding-top: 4em;
		}
	}
}