.page-header-featured-image {
	overflow: hidden;
	text-align: center;
	position: relative;
	height: calc(100vh - #{$nav-height});
	img {
		position: absolute;
		z-index: 100;
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 100vh;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, 0) 100%);
	}
	.featured-image-title {
		z-index: 200;
		position: absolute;
		height: 0;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		color: $white;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
		font-family: $feature-font-family;
		transform: translateY(-1em);
	}
	.scroll-down-chevron {
		position: absolute;
		margin: auto;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

// Current front-page page header feature image
.home {
	.featured-image-title {
		opacity: 0;
		animation: fadeIn 2s ease-in-out 1s;
		animation-fill-mode: forwards;
	}
	.floating-petal {
		opacity: 0;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		animation: fadeInFromLeftOutToRight ease-in-out infinite;
	}
	#petal1 {
		animation-duration: 4s;
		animation-delay: 1s;
		bottom: 320px;
		@include media-breakpoint-down(xs) {
			bottom: 270px;
		}
	}
	#petal2 {
		animation-duration: 4s;
		animation-delay: 8s;
		bottom: 400px;
		@include media-breakpoint-down(xs) {
			bottom: 300px;
		}
	}
	#petal3 {
		animation-duration: 5s;
		animation-delay: 3s;
		bottom: 440px;
		@include media-breakpoint-down(xs) {
			bottom: 340px;
		}
	}
	#petal4 {
		animation-duration: 5s;
		animation-delay: 4s;
		bottom: 470px;
		@include media-breakpoint-down(xs) {
			bottom: 370px;
		}
	}
	#petal5 {
		animation-duration: 5s;
		animation-delay: 5s;
		bottom: 500px;
		@include media-breakpoint-down(xs) {
			bottom: 400px;
		}
	}
	#petal6 {
		animation-duration: 5s;
		animation-delay: 6s;
		bottom: 320px;
		@include media-breakpoint-down(xs) {
			bottom: 320px;
		}
	}
	#petal7 {
		animation-duration: 5s;
		animation-delay: 7s;
		bottom: 400px;
		@include media-breakpoint-down(xs) {
			bottom: 300px;
		}
	}
	#petal8 {
		animation-duration: 5s;
		animation-delay: 2s;
		bottom: 320px;
		@include media-breakpoint-down(xs) {
			bottom: 220px;
		}
	}
	#petal9 {
		animation-duration: 4s;
		animation-delay: 3s;
		bottom: 400px;
		@include media-breakpoint-down(xs) {
			bottom: 300px;
		}
	}
}