section {
	margin-bottom: 5em;
}

html {
	margin-top: 0 !important;
}

#wpadminbar {
	display: none;
}

.content {
	padding-top: $nav-height;
}

* {
	box-sizing: border-box !important;
}

.flex-container {
	display: flex;
	* {
		flex: 1;
	}
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	> * {
		margin: $spacer;
		box-shadow: $box-shadow-3;
		border-radius: $border-radius;
		transition: $transition;
		&:hover {
			box-shadow: $box-shadow-5;
		}
		* {
			border-radius: $border-radius;
		}
		img {
			height: 225px;
			max-width: 300px;
			width: 100%;
		}
	}
}

.box-shadow-1 {
	box-shadow: $box-shadow-1;
}
.box-shadow-2 {
	box-shadow: $box-shadow-2;
}
.box-shadow-3 {
	box-shadow: $box-shadow-3;
}
.box-shadow-4 {
	box-shadow: $box-shadow-4;
}
.box-shadow-5 {
	box-shadow: $box-shadow-5;
}

.feature-title {
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: $spacer-y * 2;
	flex: 1;
	&::before, &::after {
		content: '';
		width: 100%;
		flex: 1;
		height: 3px;
		background: $black;
		display: block;
	}
	&::before {
		margin-right: $spacer-x;
	}
	&::after {
		margin-left: $spacer-x;
	}
}