section {
	margin-bottom: 5em;
	//&:last-of-type {
	//	margin-bottom: 0;
	//}
}

.flex-container {
	display: flex;
	* {
		flex: 1;
	}
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	> * {
		margin: 1em;
		box-shadow: $box-shadow-3;
		border-radius: $border-radius;
		transition: $transition;
		&:hover {
			box-shadow: $box-shadow-5;
		}
		* {
			border-radius: $border-radius;
		}
		img {
			height: 225px;
			max-width: 300px;
			width: auto;
		}
	}
}

.box-shadow-1 {
	box-shadow: $box-shadow-1;
}
.box-shadow-2 {
	box-shadow: $box-shadow-2;
}
.box-shadow-3 {
	box-shadow: $box-shadow-3;
}
.box-shadow-4 {
	box-shadow: $box-shadow-4;
}
.box-shadow-5 {
	box-shadow: $box-shadow-5;
}
