section {
	margin-bottom: 10em;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.flex-container {
	display: flex;
	* {
		flex: 1;
	}
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.box-shadow-1 {
	box-shadow: $box-shadow-1;
}
.box-shadow-2 {
	box-shadow: $box-shadow-2;
}
.box-shadow-3 {
	box-shadow: $box-shadow-3;
}
.box-shadow-4 {
	box-shadow: $box-shadow-4;
}
.box-shadow-5 {
	box-shadow: $box-shadow-5;
}
